




<div fxLayout="column" >
    <div fxLayout="row" style="align-items: center;justify-content: center;margin-top: 33px;">
    <div fxFlex="50" style="display: flex;justify-content: end;">
      Boodmark Manager
    </div>
    <div fxFlex="50" style="display: flex;justify-content: center;">
      <button mat-raised-button (click)="addBookM()">Add Boodmark</button>
      <!-- <button mat-raised-button >Add Boodmark</button> -->
    </div>
    </div>
    
    <div fxLayout="row" style="margin-left: 86px;">
    <div fxLayout="column"  fxLayoutGap="15px" fxFlex="50" >
      <div style="margin-bottom: 14px;">Category A</div>
      <div fxLayout="column"  fxLayoutGap="12px" style="border: 1px solid gray;overflow-y: scroll ;background-color: rgb(250, 242, 242);max-height: 174px;width: 68%;padding: 16px">
    
        <div fxLayout="row" style="justify-content: space-between;">
          <div>Title 1</div>
          <div><button mat-raised-button>Details</button></div>
        </div>
    
        <div fxLayout="row" style="justify-content: space-between;">
          <div>Title 2</div>
          <div><button mat-raised-button>Details</button></div>
        </div>
    
        <div fxLayout="row" style="justify-content: space-between;">
          <div>Title 3</div>
          <div><button mat-raised-button>Details</button></div>
        </div>
        <div>
    
        </div>
      </div>
    
    
      <div style="margin-bottom: 14px;">Category B</div>
      <div fxLayout="column"  fxLayoutGap="12px" style="border: 1px solid gray;overflow-y: scroll ;background-color: rgb(250, 242, 242);max-height: 174px;width: 68%;padding: 16px">
    
        <div fxLayout="row" style="justify-content: space-between;">
          <div>Title 1</div>
          <div><button mat-raised-button>Details</button></div>
        </div>
    
        <div fxLayout="row" style="justify-content: space-between;">
          <div>Title 2</div>
          <div><button mat-raised-button>Details</button></div>
        </div>
    
        <div fxLayout="row" style="justify-content: space-between;">
          <div>Title 3</div>
          <div><button mat-raised-button>Details</button></div>
        </div>
        <div>
    
        </div>
      </div>
    </div>
    
    <div fxFlex="50"> 
      <div fxLayout="column"   fxLayoutGap="12px" style="background-color: rgb(250, 242, 242);
      height: 177px;width: 68%;padding: 16px ;margin-top: 118px;    border: 1px solid gray;">
        <div>Title: Java</div>
        <div>URL: Java</div>
        <div>Category: Java</div>
      </div>
    </div>
    </div>
    
    
    </div>
